<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<title>Salmo Austral</title>
	<!-- style -->
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- carousel -->
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
	<!-- responsive -->
	<link href="css/responsive.css" rel="stylesheet" type="text/css">
	<!-- font-awesome -->
	<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<script src="https://use.fonticons.com/4c43d71331.js"></script>
	<!-- font-awesome -->
	<link href="css/animate.min.css" rel="stylesheet" type="text/css">
	<link href="css/popup.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		header[role="header"].header-top figure::after {
			background-color: transparent;
		}
		.padding8{
			padding-left: 8%;
			padding-top: 5%;
		}
		.h2-header{
			font-weight: bold;
		}
	</style>
</head>
<body class="module-home" data-spy="scroll" data-target=".navbar">
	<!-- header -->
	<header role="header" class="header-top" id="headere-top">
		<div class="header-fixed-wrapper" role="header-fixed">
			<div class="container">
				<!-- hgroup -->
				<hgroup class="row">
					<!-- logo -->
					<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2">
						<h1>
							<a href="#headere-top" title="Salmo Austral"><img src="images/index.png" alt="Salmo Austral" title="Salmo Austral"/></a>
						</h1>
					</div>
					<!-- logo -->
					<!-- nav -->
					<nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Navigación</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#headere-top" title="Home">Inicio</a></li>
								<li><a href="#section-about-us" title="About Us">Nosotros</a></li>
								<li><a href="#section-gallery" title="Gallery">Galería</a></li>
								<li><a href="#section-products" title="Products">Productos</a></li>
								<li><a href="#section-recipes" title="Recipes">Recetas</a></li>
								<li><a href="#section-contact" title="Contact">Contacto</a></li>
							</ul>
						</div>
					</nav>
					<!-- nav -->
				</hgroup>
				<!-- hgroup -->
			</div>
		</div>
		<!-- banner Text -->
		<section class="padding8 text-left">
			<h1 style="color:white; font-size:4em; font-weight:bold;">
				Salmo Austral
			</h1>
			<h2 class="h2-header">
				Comer sano y rico es un arte
			</h2>
		</section>
		<!-- banner Text -->
		<!-- banner image -->
		<figure>
			<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/bg1.jpg"></div>
		</figure>
		<!-- banner image -->
	</header>
	<!-- header -->
	<!-- main -->
	<main role="main" id=" main-wrapper">
		<!-- top pan -->
		<section role="loges" class="top-pan" id="section-about-us">
			<div class="container">
				<ul class="row">
					<li class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
						<h2 class="color-salmon">
							Certificaciones
						</h2>
					</li>
					<li class="col-xs-4 col-sm-3 col-md-8 col-lg-8">
						<center>
							<a href="#">
								<img src="images/logoes/logoes-3.png" alt="" class="img-responsive"/>
							</a>
						</center>
					</li>
				</ul>
			</div>
		</section>
		<!-- top pan -->
		<!-- nosotros -->
		<header role="header" class="header-top" id="headere-top">
			<!-- banner Text -->
			<section class="padding8 text-left" >
				<h1 style="color:white; font-size:4em; font-weight:bold;">
					Nosotros
				</h1>
				<h2 class="h2-header">
					Si fuéramos un animal: seríamos un oso.
				</h2>
				<p class="p-header">
					Te preguntarás qué extraño para una marca de salmón. Y es que nos identificamos con él, porque dentro del mundo animal es el ser con las mejores habilidades y reflejos para cazar los mejores salmones. Su visión y fuerza, así como su temple y paciencia lo llevan a ser el mejor cazador de esta especie.
					<br><br>
					Los mismo sucede con nosotros, que hemos desarrollado habilidades y cualidades para cazar los mejores salmones y ahumarlos con una alta calidad.
				</p>
			</section>
			<!-- banner Text -->
			<!-- banner image -->
			<figure>
				<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/bg4.jpg"></div>
			</figure>
			<!-- banner image -->
		</header>
		<!-- nosotros -->
		<!-- section-one -->
		<section class="section-one text-center">
			<div class="container">
				<!-- four boxes  -->
				<div class="row four-box-pan" role="four-box">
					<section class="col-xs-12 col-sm-6 col-md-3">
						<figure>
							<i class="fa fa-star" aria-hidden="true"></i>
						</figure>
						<h5>
							Misión
						</h5>
						<p>
							Ser el referente en venta de salmón ahumado, cubriendo las expectativas de los clientes más exigentes. Movidos por la pasión y el arte de hacer el mejor salmón ahumado.
						</p>
					</section>
					<section class="col-xs-12 col-sm-6 col-md-3">
						<figure>
							<i class="fa fa-star" aria-hidden="true"></i>
						</figure>
						<h5>
							Visión
						</h5>
						<p>
							Continuar creciendo en el mercado, basándonos para ello en un claro posicionamiento de un producto de la más alta calidad. Traspasar las fronteras y conquistar el mercado extranjero.
						</p>
					</section>
					<section class="col-xs-12 col-sm-6 col-md-3">
						<figure>
							<i class="fa fa-star" aria-hidden="true"></i>
						</figure>
						<h5>
							Nosotros
						</h5>
						<p>
							Salmo Austral es una exportadora y ahumadora de salmón, una empresa joven, con nuevas ideas, comprometida con el producto, con los clientes y con el consumidor final.
						</p>
					</section>
					<section class="col-xs-12 col-sm-6 col-md-3">
						<figure>
							<i class="fa fa-star" aria-hidden="true"></i>
						</figure>
						<h5>
							Procesos
						</h5>
						<p>
							Nuestro proceso de ahumado se da en las mejores instalaciones, en las condiciones idóneas y con los más altos índices de calidad para darle el sabor característico de nuestro ahumado.
						</p>
					</section>
				<!-- four boxes -->
			</div>
		</section>
		<section id="section-gallery">
			<div class="slider-pan">
				<header role="title-page" class="text-center">
					<h4>
						Galería
					</h4>
				</header>
				<div class="clearfix"><br><br><br></div>
				<!-- carousel -->
				<div id="owl-demo" class="owl-carousel text-center" role="slider">
					<section class="item content">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/01.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/02.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/03.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
						</div>
					</section>
					<section class="item content">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/04.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/05.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/06.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
						</div>
					</section>
					<section class="item content">
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/07.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/08.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<img src="images/galeria/09.jpg" class="img-responsive img-circle" alt="Galería Salmo Austral">
							</div>
						</div>
					</section>
				</div>
				<!-- carousel -->
				<footer class="text-center">
					<h4>
						<a class="link-galeria" href="/galeia.html">Ver galería completa</a>
					</h4>
				</footer>
			</div>
		</section>
		<div class="clearfix"></div>
		<!-- section-one -->
		<!-- zona de pesca -->
		<header role="header" class="header-top" id="headere-top">
			<!-- banner Text -->
			<section class="padding8 text-left">
				<h1 style="color:white; font-size:4em; font-weight:bold;">
					Zona de pesca
				</h1>
				<p class="p-header">
					Los bellos paisajes y la tranquilidad de las costas de Chile dan una gran apertura para la buena pesca. Dispersas por toda la franja costera, el agua cálida y su cristalina visibilidad nos permite siempre traer el mejor pescado.
					<br><br>
					Cuidamos muy especialmente la adquisición de nuestro pescados; una larga experiencia nos ha permitido dominar este arte, garantizando la obtención de mercancías idóneas y acordes a las necesidades de nuestros clientes.
				</p>
			</section>
			<!-- banner Text -->
			<!-- banner image -->
			<figure>
				<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/bg2.jpg"></div>
			</figure>
			<!-- banner image -->
		</header>
		<!-- zona de pesca -->
		<!-- El arte de hacer salmon -->
		<header role="header" class="header-top" id="headere-top">
			<!-- banner Text -->
			<section class="padding8 text-left">
				<h1 style="color:white; font-size:4em; font-weight:bold;">
					El arte de hacer salmón ahumado con la dedicación de un gran pescador
				</h1>
				<p class="p-header">
					Cada decisión, acción, traslado y ahumado, hacen que nuestro proceso sea parecido a la misma dedicación de un gran pescador. Que con paciencia y temple, espera el tiempo suficiente para pescar el mejor salmón.
					<br><br>
					Así elaboramos el ahumado en nuestra fábrica que cuenta con las mejores instalaciones para cocinar el mejor salmón ahumado de la categoría.
				</p>
			</section>
			<!-- banner Text -->
			<!-- banner image -->
			<figure>
				<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/bg3.jpg"></div>
			</figure>
			<!-- banner image -->
		</header>
		<!-- El arte de hacer salmon -->
		<!-- section-two -->
		<!-- section-five -->
		<section class="section-five" id="section-products">
			<div class="container">
				<header role="title-page" class="text-center">
					<h4>
						Conoce nuestros productos
					</h4>
					<div class="clearfix"><br><br><br><br></div>
					<div class="row">
						<div class="col-md-2">
							<img src="images/productos/01.jpg" class="img-responsive img-circle" alt="">
						</div>
						<div class="col-md-2">
							<img src="images/productos/02.jpg" class="img-responsive img-circle" alt="">
						</div>
						<div class="col-md-2">
							<img src="images/productos/03.jpg" class="img-responsive img-circle" alt="">
						</div>
						<div class="col-md-2">
							<img src="images/productos/04.jpg" class="img-responsive img-circle" alt="">
						</div>
						<div class="col-md-2">
							<img src="images/productos/05.jpg" class="img-responsive img-circle" alt="">
						</div>
						<div class="col-md-2">
							<img src="images/productos/06.jpg" class="img-responsive img-circle" alt="">
						</div>
					</div>
				</header>
			</div>
		</section>
		<!-- section-five -->
		<!-- section-six -->
		<div class="fh5co-blog-style-1" id="section-recipes">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<header role="title-page" class="text-center">
							<h4>
								Recetas
							</h4>
						</header>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Disfruta de las deliciosas recetas que puedes<br>preparar con nuestro salmón.</p>
					</div>
				</div>
				<div class="row p-b">
					<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
						<div class="fh5co-post wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="1.1s">
							<div class="fh5co-post-image">
								<div class="fh5co-overlay"></div>	
								<div class="fh5co-category"><a href="#">Receta</a></div>	
								<img src="images/img_same_dimension_2.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">Tostadas de salmón ahumado</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...</p>
							</div>
							<!--<div class="fh5co-post-meta">
								<a href="#"><i class="icon-chat"></i> 33</a>
								<a href="#"><i class="icon-clock2"></i> 2 hours ago</a>
							</div>-->
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
						<div class="fh5co-post wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="1.4s">
							<div class="fh5co-post-image">
								<div class="fh5co-overlay"></div>	
								<div class="fh5co-category"><a href="#">Receta</a></div>	
								<img src="images/img_same_dimension_3.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">Medallones de salmón</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...</p>
							</div>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12">
						<div class="fh5co-post wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="1.7s">
							<div class="fh5co-post-image">
								<div class="fh5co-overlay"></div>	
								<div class="fh5co-category"><a href="#">Receta</a></div>	
								<img src="images/img_same_dimension_4.jpg" alt="Image" class="img-responsive">
							</div>
							<div class="fh5co-post-text">
								<h3><a href="#">Alcapurrias de salmón</a></h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts...</p>
							</div>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
						<a href="#" class="btn btn-primary btn-lg">Ver más recetas</a>
					</div>
				</div>
			</div>
		</div>
		<!-- contacto -->
		<section id="section-contact"></section>
		<header role="header" class="header-top" id="headere-top">
			<!-- banner Text -->
			<div class="container">
				<header role="title-page" class="text-center">
					<h4 style="color:white; font-size:3em;">
						Contacto
					</h4>
					<h2 style="color:white; font-size:1.5em;">
						Si tienes alguna duda, nuestro equipo resolvera todas tus dudas
					</h2>
				</header>
				<!-- contact-form -->
				<div class="contact-form">
					<div id="message"></div>
					<form method="post" action="php/contactfrom.php" name="cform" id="cform">
						<div class="col-md-6 col-lg-6 col-sm-6">
							<input  name="name" id="name" type="text" placeholder="Nombre completo">
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6">
							<input  name="email" id="email" type="email"  placeholder="Correo Electrónico">
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6">
							<input  name="tel" id="tel" type="tel"  placeholder="Teléfono">
						</div>
						<div class="col-md-6 col-lg-6 col-sm-6">
							<input  name="companyname" id="companyname" type="companyname"  placeholder="Compañia">
						</div>
						<div class="clearfix"></div>
						<textarea name="comments" id="comments" cols="" rows="" placeholder="Consulta"></textarea>
						<div class="clearfix"></div>
						<input name="" type="submit" value="Enviar">
						<div id="simple-msg"></div>
					</form>
				</div>
				<!-- contact-form -->
				<div class="clearfix"></div>
			</div>
			<!-- banner Text -->
			<!-- banner image -->
			<figure>
				<div class="parallax-window item tp-banner-container" data-parallax="scroll" data-image-src="images/bg5.jpg"></div>
			</figure>
			<!-- banner image -->
		</header>
		<!-- contacto -->
		<!-- section-six -->
		<!-- footer -->
		<footer role="footer" class="footer text-center">
			<div class="container">
				<!-- socil-icons -->
				<section role="socil-icons" class="socil-icons">
					<a href="https://www.facebook.com/SalmoAustral/" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a href="tel:+5215537477273" target="_blank">
						<i class="fa fa-whatsapp" aria-hidden="true"></i>
					</a>
				</section>
				<!-- socil-icons -->
				<!-- nav -->
				<nav role="footer-nav">
					<a href="#">
						Términos de uso
					</a>
					<a href="#">
						Politicas de privacidad
					</a>
				</nav>
				<!-- nav -->
				<p class="copy">
					&copy; 2017 Salmo Austral
					<br><br>
					<a href="https://www.google.com.mx/maps/place/Hortensia+61,+Los+%C3%81ngeles,+09830+Ciudad+de+M%C3%A9xico,+CDMX/@19.3444085,-98.9926079,12.12z/data=!4m5!3m4!1s0x85d1fd87f1967075:0x76be59322b0f50d8!8m2!3d19.3430549!4d-99.0672183" target="_blank">Calle Hortensia Mz. 61 Lt. 1 Local B, Colonia Los Ángeles, Delegación Iztapalapa, Ciudad de México, C.P. 09830</a>, Teléfono: <a href="tel:+52 55 7158 3577" rel="nofollow">+52 55 7158 3577</a> / <a href="tel:+52 55 7158 4915" rel="nofollow">+52 55 7158 4915</a>
				</p>
			</div>
		</footer>
		<!-- footer -->
	</main>
	<!-- main -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/parallax.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$('.parallax-window').parallax({});
	</script>
	<script src="js/main.js" type="text/javascript"></script>
	<script src="js/owl.carousel.js" type="text/javascript"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="js/maps.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="js/video.js"></script>
	<script src="js/custom.js" type="text/javascript"></script>
	<script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
	<script src="js/jquery.contact.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/html5shiv.min.js" type="text/javascript"></script>
</body>
</html>